* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  /* Fallback background image for older browsers */
  background: url(/img/top-image.png) no-repeat top center;

  /* Top and bottom background images with full gradient */
  background:
    url('/img/top-image.png') no-repeat top center, 
    url('/img/bottom-image.png') no-repeat bottom center,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0.1) 100%);
  
  /* Controls image and gradient sizing */
  background-size: contain, contain, cover;

  /* Adds a white background to the letter */
  background-color: white;

  /* Top and bottom solid border */
  border-top: red solid;
  border-bottom: red solid;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;

  /* Logo image */
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)); */

  border-radius: 50%; /* Rounds out the image */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Browser compatible alternative drop shadow */
}

.container {
  display: flex; /* Use flexbox for the layout */
  justify-content: space-between; /* Space between columns */
  margin: 20px;
}

.column {
  width: 50%; /* Set width for the columns */
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

.column p {
  line-height: 1.5; /* Set line height for better readability */
  overflow-wrap: break-word; /* Ensure long words break to the next line */
}

h2 {
  text-align: left;
}

h3 {
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-top: 200px;
  z-index: 1;
}

.radio-buttons {
  margin: 20px;
}